<div class="container background-nav navbar-animation">
    <nav class="navbar ">
      <a class="navbar-brand" href="#">Portal BTI</a>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a  class="nav-item nav-link pageScroll active " href="#init" >Home <span class="sr-only">(current)</span></a>
          <a  class="nav-item nav-link pageScroll" href="#resumo" >Resumo</a>
          <a  class="nav-item nav-link pageScroll" href="#enfases" >Enfases</a>
          <a  class="nav-item nav-link pageScroll" href="#estagios" >Estágios</a>
          <a  class="nav-item nav-link pageScroll" href="#services" >Serviços</a>
        </div>
      </div>
    </nav>
</div>

