<div class="container-fluid">
	<!--<app-navbar></app-navbar>-->
	<section class="row" id="boas-vindas">
		<div class="container">
			<app-tour-start></app-tour-start>
		</div>
	</section>
	<section class="row" id="resumo">
		<div class="container">
			<app-curso></app-curso>
		</div>
	</section>
	<section class="row" id="enfases">
		<div class="container">
			<app-ingresso></app-ingresso>
		</div>
	</section>
	<section class="row" id="estagios">
		<div class="container">
			<app-conteudo></app-conteudo>
		</div>
	</section>
	<section class="row" id="servicos">
		<div class="container">
			<app-enfase></app-enfase>
		</div>
	</section>
	<section class="row" id="servicos">
		<div class="container">
			<app-ciclos></app-ciclos>
		</div>
	</section>
	<footer class="row" id="footer">
			<app-footer></app-footer>
	</footer>
</div>

