<div class="container-fluid">
	<section class="row" id="tour">
		<tour-boas-vindas></tour-boas-vindas>
	</section>
	<section class="row" id="curso">
		<tour-curso></tour-curso>
	</section>
	<section class="row" id="ingresso">
		<tour-ingresso></tour-ingresso>
	</section>
	<section class="row" id="conteudo">
		<tour-conteudo></tour-conteudo>
	</section>
	<section class="row" id="enfase">
		<tour-enfase></tour-enfase>
	</section>
	<section class="row" id="ciclos">
		<tour-ciclos></tour-ciclos>
	</section>
</div>

