<div class="container-fluid">
	<app-navbar></app-navbar>
	<section class="row" id="boas-vindas">
		<div class="container">
			<app-boas-vindas></app-boas-vindas>
		</div>
	</section>
	<section class="row" id="resumo">
		<div class="container">
			<app-resumo></app-resumo>
		</div>
	</section>
	<section class="row" id="enfases">
		<div class="container">
			<app-enfases></app-enfases>
		</div>
	</section>
	<section class="row" id="estagios">
		<div class="container">
			<app-estagios></app-estagios>
		</div>
	</section>
	<section class="row" id="servicos">
		<div class="container">
			<app-servicos></app-servicos>
		</div>
	</section>
	<footer class="row" id="footer">
			<app-footer></app-footer>
	</footer>
</div>

