
  <nav class=" navbar navbar-expand-lg navbar-light background-nav" [class.fixed]="navIsFixed"  >
    <div class="container">
      <a class="navbar-brand" scrollTo="boas-vindas" href="#">Portal BTI</a>
      <button class="navbar-toggler" (click)="toggleState()"  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{ 'collapse': isIn }" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#" scrollTo="boas-vindas">Início <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" scrollTo="resumo">Resumo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" scrollTo="enfases">Ênfases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" scrollTo="estagios">Estágios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" scrollTo="servicos">Outros Serviços</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
