<section id="meus-semestres">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="first-div-container">
					<h3 class="display-4">Plano de Disciplinas</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">ID </th>
						<th scope="col">Nome </th>
						<th scope="col">Horário</th>
						<th scope="col">Código</th>
					</tr>
				</thead>
				<tbody *ngIf="data_received">
						<td >ID </td>
						<td >Nome </td>
						<td >Horário</td>
						<td >Código</td>
				</tbody>
			</table>
		</div>
	</div>
</section>
