/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

html {
	height: 100%;
	/*Image only BG fallback*/
	background: url('http://chopin.musica.ufrn.br/semufrn2/assets/img/gs.png');
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(43,45,66,0.2) ,rgba(141,153,174, 0.2), rgba(237,242,244, 0.2)), 
		url('http://chopin.musica.ufrn.br/semufrn2/assets/img/science.png');
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
	background-color: transparent;
}
.center-div{
    position:absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}
.border{
    border-top: 1px #e1e4e8 solid !important;
}
.title{
    color: #000000;
    margin:auto auto 40px auto;
    font-weight: 300;
}
.sub-title{
    margin-top:15px;
    display:block;
    position:relative;
    font-size:0.5em;
}
.caixa-texto{
    padding:4px;
    box-sizing: border-box;
     
}
.caixa-texto h3{
    text-align:center;
    margin-bottom: 16px;
}
.caixa-texto p{
    text-align:justify;
}
.icon-center{
    text-align:center;
    margin-bottom:1em;
}
.icon-center i{
    font-size: 6em;
}
