<div class="container">
  <div class="row">
    <div class="col-sm-4">
       <h3 class="footer-title"><a (click)="navigate()" routerLink="">Portal-BTI</a>
        <small class="sub-title">© 2017</small>
        </h3>
    </div>
    <div class="col-sm-2">
      <ul class="footer-menu">
        <li><strong>teste1</strong></li>
        <li><a>asdad</a></li>
        <li><a>asdad</a></li>
        <li><a>asdad</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul class="footer-menu">
        <li><strong>teste2</strong></li>
        <li><a>asdad</a></li>
        <li><a>asdad</a></li>
        <li><a>asdad</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul class="footer-menu">
        <li><strong>teste3</strong></li>
        <li><a>asdad</a></li>
        <li><a>asdad</a></li>
        <li><a>asdad</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <ul class="footer-menu">
        <li><strong>teste4</strong></li>
        <li><a>asdad</a></li>
        <li><a>asdad</a></li>
        <li><a>asdad</a></li>
      </ul>
    </div>
  </div>
</div>